modules = ["python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["python", "Bot.py"]
